<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dissonant.dissonantapp2">

    <!-- Internet permission for network access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="dissonantapp2"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/NormalTheme"
        android:enableOnBackInvokedCallback="true">

        <!-- Main Activity (Make sure MainActivity.kt extends FlutterFragmentActivity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/NormalTheme"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Stripe Payment Activity -->
        <activity
            android:name="com.stripe.android.view.PaymentAuthActivity"
            android:theme="@style/StripePaymentAuthTheme"
            android:exported="false"/>

        <!-- Stripe SDK Required Meta-Data -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data
            android:name="com.stripe.android.customersession.enableLogging"
            android:value="false" />
    </application>

    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
